# Python cache

**pycache**/
*.py[cod]

# Virtual environment

venv/
.venv/
env/
.env

# Environment variables (secrets)

.env

# Logs

*.log

# Build / packaging

dist/
build/
*.egg-info/

# Database (local)

*.sqlite3
*.db

# IDE

.vscode/
.idea/


#add the docker file later -- prod level
Dockerfile

#mics
*repomix*.md
test*.py



